.classes {
  background-color: rgba(140, 198, 63, 0.1);
  padding: 72px 12px 72px 12px;
  @include md {
    padding: 72px 40px 72px 40px;
  }
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
  @include lg {
    grid-template-columns: 1fr;
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: auto;
  background-color: white;
  padding: 24px;
  margin-bottom: 24px;
  @include md {
    margin-bottom: 0px;
  }
  @include lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .title {
    width: 100%;
    @include lg {
      width: auto;
    }
  }
}

// ////////////////////
.hero {
  padding: 72px 24px 72px 24px;
  background-color: $--dark-body;
  @include md {
    padding: 72px 40px 72px 40px;
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.69;
    letter-spacing: 0.75px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
  }
  h3 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: 0.75px;
    color: white;
    margin-bottom: 3rem;
  }
}

.promo {
  padding: 72px 24px;
  background-color: rgba(140, 198, 63, 0.1);
  h3 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: 0.75px;
    margin-bottom: 3rem;
  }
}

.photo-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: center;
  min-height: 320px;
  &-first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 160px;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  &-second {
    height: 160px;
  }
}
