.classes {
  background-color: rgba(140, 198, 63, 0.1);
  padding: 72px 12px 72px 12px;
  @include md {
    padding: 72px 40px 72px 40px;
  }
  @include xl {
    padding: 72px 15vw;
  }
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
  @include lg {
    grid-template-columns: 1fr;
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: auto;
  background-color: white;
  padding: 24px;
  margin-bottom: 24px;
  @include md {
    margin-bottom: 0px;
  }
  @include lg {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .title {
    width: 100%;
    @include lg {
      display: grid;
      grid-template-columns: 1fr 30%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

// ////////////////////
.hero {
  padding: 72px 24px 72px 24px;
  background-color: $--dark-body;
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.69;
    letter-spacing: 0.75px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
  }
  h3 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: 0.75px;
    color: white;
    margin-bottom: 3rem;
  }
  @include md {
    padding: 72px 40px 72px 40px;
  }
  @include xl {
    padding: 110px 15vw;
    h1 {
      font-size: 3.375rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

.promo-wrapper {
  @include sm {
    display: grid;
    grid-template-columns: 1fr 33.33%;
  }
}
.promo {
  padding: 72px 24px;
  background-color: rgba(140, 198, 63, 0.1);
  @include xl {
    padding: 110px 15vw;
  }
  h3 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: 0.75px;
    margin-bottom: 3rem;
  }
}

.photo-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  img {
    height: 30vw;
    @include sm {
      height: 23vw;
    }
    @include xl {
      height: 15vw;
    }
  }
  &-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    img {
      width: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  &-second {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
