/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1.125rem;
  line-height: $font__line-height-body;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
}

.green {
  color: $--primary;
}
.green-bold-title {
  width: 272px;
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: $--primary;
}

.sub-title {
  margin: 0 12px;
}
.title {
  &-curso {
    font-size: 32px;
    height: 43px;
    letter-spacing: 1.33px;
    &-des {
      letter-spacing: 0.75px;
    }
  }
}

.margin-side-24 {
  margin-left: 24px;
  margin-right: 24px;
}
